.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.title {
  display: flex;
  flex-direction: column;
  text-align: start;
  font-weight: bold;
  justify-content: start;
  padding-right: 2rem;
}

.title > p > span {
  font-weight: lighter;
  color: #0097ce;
  opacity: 70%;
  font-weight: bold;
}
