.container {
    display: flex;
}

.title {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 3em;
    font-weight: bold;
    justify-content: space-around;
}

.description {
    display: flex;
    font-size: 2em;
    font-weight: 500;
    padding: 4em;
}